.home {
  height: 100vh;
  padding-top: 35vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: 
    linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url('../img/background.jpg');
    background-size: cover;

      &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        color: $secondary-color;
        &:after {
          content: '';
          display: block;
          margin: 0 auto;
          width: 90%;
          padding-bottom: 1rem;
          border-bottom: 1px solid $text-color;
        }

      }

      &__dev {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        font-weight: 700;
      }
}

.stack {
  position: fixed;
  width: 100vw;
  opacity: 9.8;
  bottom: 4rem;
}

p {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  word-spacing: 1rem;
}

.social-icons {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  width: 6%;
  margin: auto;
  a {
    color: $text-color;
    font-size: 1.5rem;
    @include transition-ease;

      &:hover {
        color: $secondary-color;
      }
  }
}